.nav-group {
  font-weight: 500;
  color: var(--grey);
}

.navs {
  color: var(--black);
  margin-left: 0.5rem;
}

li {
  margin: 1.3rem 0rem;
  font-weight: 500;
}

li:hover {
  cursor: pointer;
}

.nav-links li:not(.active) i {
  /* Hide the icon when the link is not active */
  color: #E8E8E8;
}

.active i {
  /* Add styles for the icon when the link is active */
  color: var(--secondary);
  /* Change the color to your desired color */
}

.nav-links > i {
  margin-right: 0.5rem;
}

.dashboard-container {
  margin: 1.5rem 1rem 1.5rem 0rem;
  border-radius: 8px;
  height: 93vh;
}

.summary {
  padding: 1rem 1rem 0rem 1rem;
  width: 75%;
  border-radius: 8px;
}

.summary-icon-orange>i {
  color: var(--secondary);
  font-size: 2rem;
  margin-top: 0.3rem;
  justify-content: end;
  display: flex;
}

.summary-icon-green>i {
  color: var(--primary);
  font-size: 2rem;
  margin-top: 0.3rem;
  justify-content: end;
  display: flex;
}

.summary-text {
  font-size: 2rem;
  margin-bottom: 0;
}

.date:hover {
  cursor: default;
  background-color: var(--primary);
  color: white !important;
}

h2{
  font-weight: 700;
}

.search-input{
  border-color: var(--sub);
}

.search-btn:hover{
  background-color: var(--sub);
  color: white !important;
}

.bi-search{
  color: white !important;
  padding: 0.5rem 0.2rem;
}

