@import "style/style.css";

.navbar{
    border-radius: 14px;
}

.nav-link:hover{
    color: var(--primary);
}

.nav-link{
    font-weight: 500;
    color: var(--grey);
}

.login{
    border-radius: 14px;
}