@import "style.css";

.half-circle {
  width: 1.5rem; /* You can adjust this based on your design */
  height: 0.9rem; /* as half of the width */
  background-color: none;
  border-top-left-radius: 1.1rem; /* 1rem of height + 0.1rem of border */
  border-top-right-radius: 1.1rem; /* 1rem of height + 0.1rem of border */
  border: 1px solid #e8e8e8; /* 0.1rem border */
  border-bottom: 0;
}

.half-circle.flipped {
  transform: scaleY(-1);
}

.dashed-line {
  width: 0.05rem; /* Adjust the thickness of the dashed line as needed */
  height: 90%;
  border-left: 0.1rem dashed #e8e8e8;
}
.userInfo-border {
  border-top: 0.5px solid #e8e8e8;
  border-bottom: 0.5px solid #e8e8e8;
  border-right: 0.5px solid #e8e8e8;
  border-top-right-radius: 0.714rem; /* Adjust the radius as needed */
  border-bottom-right-radius: 0.714rem; /* Adjust the radius as needed */
}

.driver-border {
  width: 15%;
  border-top: 0.5px solid #e8e8e8;
  border-bottom: 0.5px solid #e8e8e8;
  border-left: 0.5px solid #e8e8e8;
  border-top-left-radius: 0.714rem; /* Adjust the radius as needed */
  border-bottom-left-radius: 0.714rem; /* Adjust the radius as needed */
}

.solid-line {
  width: 0.05rem; /* Adjust the thickness of the dashed line as needed */
  height: 90%;
  border-left: 0.1rem solid #e8e8e8;
}

.bg-primary {
  background-color: var(--primary) !important;
  font-weight: 500 !important;
  border-radius: 10px;
  padding: 0.3rem 1rem;
}
.bg-secondary {
  background-color: var(--secondary);
  font-weight: 500 !important;
  border-radius: 10px;
  padding: 0.3rem 1rem;
}

h5 {
  color: var(--primary) !important;
  margin-bottom: 0px !important;
}

.bi {
  font-size: 0.8rem;
}

.line {
  width: 0.05rem; /* Adjust the thickness of the dashed line as needed */
  height: 80%;
  border-left: 0.1rem #e8e8e8 solid;
}

.desc {
  border-radius: 10px;
  border: 0.5px solid var(--secondary);
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.editBtn, .view-request, .view-reward {
  font-size: 0.8rem !important;
}

.editBtn:hover i, .view-request:hover i, .view-reward:hover i {
  color: var(--primary);
}
.editBtn i, .view-request i, .view-reward i {
  color: white;
}

textarea {
  font-size: 0.9rem;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.accStatus {
  width: 30%;
  border: 0.5px solid #e8e8e8;
  border-radius: 0.714rem;
  margin-left: 1.5rem;
}

.nav-link {
  color: var(--grey);
}

.tab-content {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #d2d3d4;
  border-top: none;
}

.beDriverBtn {
  font-size: 0.8rem !important;
  border-radius: 4px !important;
}

.beDriverBtn:hover i {
  color: white !important; 
}

.saveBtn {
  font-size: 0.8rem !important;
  border-radius: 4px !important;
  margin-left: 0.8rem;
}

label {
  font-weight: 600;
  margin-left: 0.1rem;
}

h6 {
  color: var(--primary) !important;
  font-weight: 700;
  margin: 1rem 0rem;
}

label > .bi {
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* Request Modal */
.modal-lg{
  width: 600px !important;
}
.badge.rounded-pill{
  background-color:var(--primary); 
  font-size:0.857rem; 
  font-weight:400;
}

.badge.bg-secondary.active{
  border: 1px solid #F6931A !important;
  background-color: #FFFBF4 !important;
  color:#F6931A !important;
}

.badge.bg-secondary.pending{
  border: 1px solid #D8CF06 !important;
  background-color: #FFFDD3 !important;
  color:#D8CF06!important;
}

.badge.bg-secondary.completed{
  border: 1px solid #036D19 !important;
  background-color: #EFFFF2 !important;
  color:#036D19 !important;
}

.badge.bg-secondary.cancelled{
  border: 1px solid #E70B0B !important;
  background-color: #FFEEEE !important;
  color:#E70B0B !important;
}

