.rewardTabs {
  z-index: 0;
}

.nav-link {
  color: var(--grey);
}

.carrots {
  z-index: -1;
  font-size: 1.5rem;
}

.fa-carrot {
  padding: 0rem 0.5rem;
  color: var(--secondary);
}

.tab-content {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #D2D3D4;
  border-top: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.card-img-top {
  width: auto;
  height: 16rem;
  object-fit: cover;
  object-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  margin-left: 0;
}

.carousel-control-next-icon {
  margin-right: 0;
}
