:root {
  --primary: #036D19;
  --sub: #009D18;
  --secondary: #F6931A;
  --black: #212529;
  --grey: #B5B5B5;
}

/* Remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'League Spartan', 'Lato', sans-serif !important;
  color: var(--black);
  font-size: 1rem;
}

body:not(.hero){
  margin-top: 4rem;
}

/* Button components */

/* Primary Button */
.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: white;
  color: var(--primary) !important;
  border: 1px solid var(--primary);
}

.btn-primary:focus {
  border: 1px solid var(--primary) !important;
  background-color: var(--primary) !important;
  color: white !important;
}

.btn-primary:hover i {
  color: var(--primary);
}

/* Secondary Button*/

.btn-secondary {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: white;
}

.btn-secondary:hover {
  background-color: white;
  color: var(--secondary) !important;
  border: 1px solid var(--secondary);
}

.btn-secondary:focus {
  border: 1px solid var(--secondary) !important;
  background-color: var(--secondary) !important;
  color: white !important;
}

.btn-secondary:hover i {
  color: var(--secondary);
}

.btn-secondary:hover svg {
  transition: filter 0.1s ease-in-out;
  filter: invert(1);
}

/* Green Outline*/

.btn-green-outline {
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);
}

.btn-green-outline:hover {
  background-color: var(--primary);
  color: white !important;
  border: 1px solid var(--primary);
}

.btn-green-outline:focus {
  border: 1px solid var(--primary) !important;
  background-color: white !important;
  color: var(--primary) !important;
}

.btn-green-outline:hover i {
  color: var(--primary);
}

/* Orange outline */
.btn-orange-outline {
  border: 1px solid var(--secondary);
  background-color: white;
  color: var(--secondary);
}

.btn-orange-outline:hover {
  background-color: var(--secondary);
  color: white !important;
  border: 1px solid var(--secondary);
}

.btn-orange-outline:focus {
  border: 1px solid var(--secondary) !important;
  background-color: white !important;
  color: var(--secondary) !important;
}

.btn-orange-outline:hover i {
  color: var(--secondary);
}


/* All buttons */
.btn-primary:hover svg,
.btn-secondary:hover svg,
.btn-green-outline:hover svg,
.btn-orange-outline:hover svg {
  transition: filter 0.1s ease-in-out;
  filter: invert(1);
}

/* All icons */
.bi {
  color: var(--secondary);
}

/* Header section */
.header {
  position: absolute;
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
}

/* Hero container */
.hero{
  position: relative;
  z-index: 0;
}

/* Orange text in span */
.highlight {
  color: var(--secondary);
}

/* Green text in span */
.highlight2 {
  color: var(--primary);
}